<app-header></app-header>
  <div class="table-div">
    <table class="table-class">
      <thead>
        <tr class="table-head">
          <th>Patient ID</th>
          <th>Name</th>
          <th>Gender</th>
          <th>DOB(yyyy-MM-dd)</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>Registered on</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        <!-- display all patients list -->
        <tr id="table-row" *ngFor="let patient of allPatients">
          <td id="table-id" >{{patient.userId}}<!--display patient_Id--></td>
          <td id="table-firstname" class="td-column">{{patient.patient_name}}<!--display patient_name--></td>
          <td id="table-gender">{{patient.patient_gender}}<!--display patient_gender--></td>
          <td id="table-dob">{{patient.patient_dob}}<!--display patient_dob--></td>
          <td id="table-mobile">{{patient.patient_dob}}<!--display patient_mobile-->}</td>
          <td id="table-email">{{patient.patient_email}}<!--display patient_email--></td>
          <td id="table-registeredOn"><!--display registeredDate--></td>
          <td class="column-btn">
            <!--call view method with selected id when clicking this button-->
            <a id="view" class="view-details" (click)="view(patient?.patient_Id)">View Details</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
